@inject IAdminService AdminService

@if (Alert != string.Empty)
{
    <div class="d-flex">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@Alert</strong>
            <button type="button" @onclick="CloseAlert" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

@if (Navigation == PageType.Create)
{
    <ChangeSimilarFilm Page="@Navigation" OnChanged="OnChange"></ChangeSimilarFilm>
}
@if (Navigation == PageType.Delete || Navigation == PageType.Edit)
{
    <ChangeSimilarFilm Page="@Navigation" OnChanged="OnChange" Model="SimilarFilm"></ChangeSimilarFilm>
}

<div class="d-flex me-1">
    <a href="/" class="btn btn-outline-secondary rounded-0 me-1">Home</a>
    <button type="button" class="btn btn-outline-primary rounded-0 me-1" @onclick="()=>ChangePageType(PageType.Index)">Index</button>
    <button type="button" class="btn btn-outline-success rounded-0" @onclick="()=>ChangePageType(PageType.Create)">Create</button>
</div>

<SimilarFilmsIndex OnClick="OnClick" Model="Model"></SimilarFilmsIndex>

@code {
    List<SimilarFilmDTO> Model { get; set; } = new();
    string Alert = String.Empty;
    string Navigation = String.Empty;
    public SimilarFilmDTO SimilarFilm { get; set; } = new();

    void ChangePageType(string pageType) => Navigation = pageType;
    void CloseAlert() => Alert = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Alert = String.Empty;
        Model = await AdminService.GetAsync<SimilarFilmDTO>($"similarfilms");
    }

    async Task OnClick(ClickReferenceModel model)
    {
        if (model.PageType.Equals(PageType.Delete))
			SimilarFilm.FilmId = model.firstId;
			SimilarFilm.SimilarFilmId = model.secondId;

        ChangePageType(model.PageType);
    }

    async Task OnChange(string alert)
    {
        try
        {
            Alert = alert;
            Model = await AdminService.GetAsync<SimilarFilmDTO>("similarfilms");
            ChangePageType(PageType.Index);
        }
        catch
        {
            Alert = "Couldn't create/edit/delete the course.";
        }
    }
}
