@page "/film/{Id:int}"
@inject IMembershipService Service

<h3 class="text-center">Film</h3>

<a class="btn btn-primary rounded-0 mb-1" href="/">
    <i class="oi oi-arrow-left"></i>
    <span class="vertical-align"> Back to Dashboard</span>
</a>

<Marquee Film="Model" />

<a href="/film/@Model.Id/video" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play Video
</a>


<div>
    <Director Model="Model.Director" />
</div>

<div>
    @foreach (var film in Model.SimilarFilms)
    {
        <h4>@film.Similar.Title</h4>
        <img src="@film.Similar.ImageUrl" class="card-img-top rounded-0" alt="Film Image" style="max-width: 300px;">
    }
</div>

@code {
    [Parameter] public int? Id { get; set; }
    public FilmInfoDTO Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await Service.GetFilmAsync(Id); 
    }
}
