<div class="card" style="width: 18rem;">
    <img src="@Film.ImageUrl" class="card-img-top rounded-0" alt="Film Image">
  <div class="card-body">
    <h5 class="card-title">@Film.Title</h5>
    <p class="card-text">@Film.Description</p>
        <a href="film/@Film.Id" class="btn btn-primary rounded-0">View Film</a>
  </div>
</div>

@code {
    [Parameter] public FilmDTO Film { get; set; }
}
