@*<div class="card h-100">
      <a href="film/@Film.Id" class="btn btn-primary mt-auto" style="height:100%;">
            <img src="@Film.ImageUrl" class="card-img-top" alt="Film Image" style="height:100%; object-fit:cover;">
      </a>
</div>*@
<div class="card border-dark h-100">
    <a href="film/@Film.Id" class="stretched-link" style="height:100%;">
        <img src="@Film.ImageUrl" class="card-img-top img-fluid" alt="Film Image" style="height:100%; object-fit:cover;">
    </a>
</div>


@code {
    [Parameter] public FilmDTO Film { get; set; }
}
