@page "/genres"

<PageTitle>Multi InputSelect</PageTitle>

<h1>InputSelect with multiple select</h1>

<EditForm EditContext="@EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputSelect @bind-Value="SelectedValues">
        @foreach (var genre in GenreDTOs)
        {
            <option value="@genre.Id">@genre.Name</option>
        }
    </InputSelect>

    <button type="submit">Submit</button>
</EditForm>

@code {
    EditContext EditContext { get; set; }

    public int[] SelectedValues { get; set; } = new int[] { };

    List<GenreDTO> GenreDTOs { get; set; } = new();

    protected override void OnInitialized()
    {
        EditContext = new(SelectedValues);

        GenreDTOs = new()
        {
            new GenreDTO { Id = 1, Name = "Action" },
            new GenreDTO { Id = 2, Name = "Sci-Fi" },
            new GenreDTO { Id = 3, Name = "Fantasy" }
        };
    }

    void HandleValidSubmit()
    {
        // Check the ids in the SelectedValues array
    }
}