.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #e50914;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bg-black {
    background-color: #141414 !important;
}