@page "/"

<PageTitle>MovieDB Admin UI</PageTitle>

<h2>Welcome to the Admin UI for the Movie Database.</h2>
<h6>To access different areas of the application, use the navigation menu, which allows you to manage movies, directors, and genres.</h6>